.head{

    background-color: #ffffff;
    width: 100%;
    height: 2.5%;
    padding: 0px;
  padding: 10px 10px;
    text-align: center;
    display: flex;
    gap: 4%;

}
h1{
    width: 20%;
    font-size: 30px;
    color: #79e0d1;
    margin: 0;
    padding: 0;
    

}
.head>a{
    width: 10%;
    text-decoration: none;
    color:#79e0d1;
   
}

.head>a:hover{
    background-color:#79e0d1;
    color: #272525;
    border-radius: 5px;
    padding: 10px 0px;
    text-align: center;
}
.bars{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ffffff;
    gap: 3px;
    
}
.bars>button{
    width: 30px;
    height: 30px;
    background-color: #fcfbfb;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid #79e0d1;
    font-size: 9px;
    margin: 10px;
    cursor: pointer;
}
.bars>button:hover{
    background-color: #79e0d1;
    color: #272525;
    border-radius: 5px;
    padding: 10px 0px;
    text-align: center;
}
.container{
    background-color: #f4f3f3;
    width: 100%;
    
    display: block;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px 0px;
    margin: 0px 0px;
}


      /* END OF THE HEAD */
.bform{
  
   
display: block;
justify-self: center;
align-self: center;

}
.binput1{
    width: 500px;
    height: 50px;
    background-color: #d0f4ee;
    border-radius: 5px;
   justify-self:center;
    text-align: center;
    font-size: 20px;
    color: hsl(0, 0%, 5%);
}
.binput2{
    width: 500px; 
    height: 50px;
    background-color: #d0f4ee;
    border-radius: 5px;
    justify-self:center;
    text-align: center;
    font-size: 20px;
    color: hsl(0, 0%, 5%);
}
.binput3{
    width: 500px;
    height: 50px;
    background-color: #d0f4ee;
    border-radius: 5px;
    justify-self:center;
    text-align: center;
    font-size: 20px;
    color: hsl(0, 0%, 5%);

}
.binput4{
    width: 500px;
    height: 150px;
    background-color: #d0f4ee;
    border-radius: 5px;
    justify-self:center;
    text-align: center;
    font-size: 20px;
    color: hsl(0, 0%, 5%);
}
.bsubmit{
    width: 120px;
    height: 40px;
    background-color: #1f9880;
    border-radius: 5px;
    justify-self:center;
    text-align: center;
    font-size: 15px;
    color: hsl(0, 0%, 5%);
}










      .foot{
        background-color:#1d1c2d;
        width: 100%;
        height: 25%;
        padding: 20px;
        text-align: center;
        
        justify-content: flex-end;
        align-items: flex-end;
    }
    .fcatgs{
        width: 100%;
        height: 70%;
       
        background-color: #1d1c2d;
        
        font-size: 20px;
        color: hsl(0, 0%, 5%);
        display: flex;
        gap:5px;
    }
    .fcatg1{
        width: 33.3333333%;
        height: 100%;
        background-color: #1d1c2d;
        font-size: 20px;
        color: hsl(0, 0%, 5%);
        
    }
    
    .fcatg1p1{
       color: rgb(9, 255, 0);
        font-size: 30px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
        font-weight: bold;
    }
    .fcatg1p2{
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
    }
    .fcatg1p3{
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
    }
    .fcatg1p4{
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
    }
    .fcatg2{
        width: 33.3333333%;
        height: 100%;
        background-color: #1d1c2d;
        font-size: 20px;
        color: hsl(0, 0%, 5%);
    
    }
    .fcatg2p1{
        color: rgb(255, 255, 255);
        font-size: 30px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
    }
    .fcatg2p2{
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
    }
    .fcatg2p3{
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
    }
    .fcatg2p4{
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
    }
    .fcatg2p5{
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
    }
    .fcatg2p6{
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
    }
    .fcatg2p7{
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
    }
    .fcatg2p8{
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
    }
    .fcatg3{
        width: 33.3333333%;
        height: 100%;
        background-color: #1d1c2d;
        font-size: 20px;
        color: hsl(0, 0%, 5%);
    
    }
    .fcatg3p1{
        color: rgb(255, 255, 255);
        font-size: 30px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
    }
    .fcatg3p2{
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
    }
    .fcatg3p3{
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
    }
    .fcatg3p4{
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
    }
    .fcatg3p5{
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
    }
    .fcatg3p6{
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
    }
    .fbuttonss{
        width: 100%;
        height: 15%;
        background-color: #1d1c2d;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fbuttons{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }
    .fbuttons>button{
    
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        border: none;
        border-radius: 50%;
        font-size: 15px;
        color: hsl(0, 0%, 100%);
        margin: 10px;
        cursor: pointer;
        justify-self: flex-start;
    }
    .finput{
    background-color: #cee9e5;
    border-radius: 5px;
    
    }
    .fsubmit{
        background-color: #00f946;
        
        color: hsl(0, 0%, 100%);
        
        cursor: pointer;
    }
    .fcopy{
        display: flex;
    }
    .fcopy>p{
        color: hsl(0, 0%, 76%);
        font-size: 15px;
        padding: 10px 0px;
        margin: 0px 0px;
        text-align: center;
    }